@font-face{
    font-family: 'Noto Sans TC';
    src: local('Noto Sans TC'),
       url('../fonts/NotoSansTC-Medium.otf') format("opentype");
}
#background{
    background-repeat : no-repeat;
    background-size   : cover;
    height: 100%;
}
#layer {
    background-color: rgba(0, 0, 0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#panel {
    height: 60%;
    width: 40%;
    margin :auto;
    margin-top:10%;
    /* border:1px solid white;*/
    border-radius: 15px;
}

#input-list{
    height:100%;
    width:100%;
    display: inline-block;
    list-style-type: none;
    text-align:center;
    font-family: "Noto Sans TC";
}
#title{
    font-size: 35px;
    font-family: 'Noto Sans TC';
    text-align:center;
    color:rgba(209, 209, 224) ;

}
#input-email{
    font-size: 15px;
    text-align:center;
    height:8%;
    width:50%;
    border: none;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 30px;
    background-color: rgba(209, 209, 224,0.2) ;
}
#input-email:focus{
    outline: none;
    font-size: 15px;
    height:8%;
    width:50%;
    border: none;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 30px;
    background-color: rgba(209, 209, 224,0.2) ;
}
#input-email:focus::-webkit-input-placeholder{
    color : transparent;
}
#input-username{
    font-size: 15px;
    text-align:center;
    height:8%;
    width:50%;
    border: none;
    margin-bottom: 3%;
    border-radius: 30px;
    background-color: rgba(209, 209, 224,0.2) ;
    color:white;
}
#input-username:focus{
    outline: none;
    font-size: 15px;
    height:8%;
    width:50%;
    border: none;
    margin-bottom: 3%;
    border-radius: 30px;
    background-color: rgba(209, 209, 224,0.2) ;
}
#input-username:focus::-webkit-input-placeholder{
    color : transparent;
}
#input-password1{
    font-size: 15px;
    text-align:center;
    height:8%;
    width:50%;
    border: none;
    margin-bottom: 3%;
    border-radius: 30px;
    background-color: rgba(209, 209, 224,0.2) ;
    color:white;
}
#input-password1:focus{
    outline: none;
    font-size: 15px;
    height:8%;
    width:50%;
    border: none;
    margin-bottom: 3%;
    border-radius: 30px;
    background-color: rgba(209, 209, 224,0.2) ;
}
#input-password1:focus::-webkit-input-placeholder{
    color : transparent;
}
#input-password2{
    font-size: 15px;
    text-align:center;
    height:8%;
    width:50%;
    border: none;
    margin-bottom: 3%;
    border-radius: 30px;
    background-color: rgba(209, 209, 224,0.2) ;
    color:white;
}
#input-password2:focus{
    outline: none;
    font-size: 15px;
    height:8%;
    width:50%;
    border: none;
    margin-bottom: 3%;
    border-radius: 30px;
    background-color: rgba(209, 209, 224,0.2) ;
}
#input-password2:focus::-webkit-input-placeholder{
    color : transparent;
}
#summit_button{
    font-size: 15px;
    color :rgb(209, 209, 224);
    height:8%;
    width:50%;
    border: none;
    border-radius: 30px;
    background-color: rgb(255, 51, 51) ;
}

#error_messeges{
    border-radius: 10px;
    width: 58%;
    background-color: white;
    color : rgb(163, 146, 157);
    text-align: left;
    font-size: 12px;
    margin-left: 20%;
}